*{
    margin: 0;
    padding: 0;

}
.top{
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    margin: 5px;
    background-color:white;
}
.main img{
    margin: 10px;
}

.nav a{

    margin: 10px;

}
.off{
    font-size: 18px;
    font-weight: 400;
    padding: 3px;
    color: black;


    text-decoration: none;
}
.active{
    margin: 23px 0;
    font-size: 18px;
    font-weight: 400;
    padding: 11px 50px;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    background-color: blue;
    text-decoration: none;
}
.bodyh1{
    flex-direction: column;
    font-size: 60px;
}
.bodymain{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color: #F7F5FD;

}
.bodyright{
    padding: 70px 100px;
}
.bodyright img {
    width: 500px;
    height: 460px;
}
.bodyleft{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    padding: 100px 70px;
    font-family: sans-serif;
}
.lefttitle h1{
    font-weight: 600px;
    line-height: 90px;
    font-size: 80px;
}
.smalltext h5{
    margin-top: 30px;
    opacity: 50%;
    }
.btn1{
    margin-top: 51px;
    padding: 16px 50px;
    background-color:#DFBF70;
    border-radius: 10px;
    display: flex;  
    /* justify-content: flex-end; */

}
.cnt2{
    background-color:  rgba(242, 250, 248, 1);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dogimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    border-radius: 10px;
    background-color: linear-gradient(rgba(45, 45, 45, 0.9)rgba(45, 45, 45, 0.5));
}
.logoimg img{
    size: 20px;
    font-weight: 600;

}
.coimg{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 172px;
    margin-right: 172px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}
.ctn4{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.bone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 20px;
}
.bonehead{
    margin-top: 57px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.bonep{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    opacity: 0.5;
    margin-bottom: 116px
}
.ctn5{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px 224px;
    gap: 35px;
    background-color: rgba(236, 231, 251, 1);
    
}
.symbol{
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: center;


}
.symbol p{
    
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    width: 420px;
    line-height: 32px;
    margin-top: 20px;

}
.symbol h5{
    font-size: 18px;
    color:rgba(45, 45, 45, 1);
    opacity: 50%;
    margin-top: 40px;
}
.bulldog{
    padding: 70px 100px;
}
.bulldog img {
    width: 475px;
    height: 360px;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footergroup{
    padding: 70px 80px 70px 80px;
}
.footerlogo{
    margin-bottom: 83px;
    margin-top: 73px;
}
.emailinput{

    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.send{
    margin-top: 23px;
}
.foooter{
    display: flex;
    
}